.folder {
  --folder-color: #FFFFFF;
  --folder-back-color: #E2DAEE;
  --paper-1: #E6E6E6;
  --paper-2: #F2F2F2;
  --paper-3: #FFFFFF;

  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  transform: scale(1.6);
  transform-origin: center;
  transition: transform 0.25s ease-in;
}

.folder:hover {
  transform: scale(1.6) translateY(-6px);
}

.back {
  position: relative;
  width: 140px;
  height: 112px;
  background: var(--folder-back-color);
  border-radius: 0 12px 12px 12px;
}

.back::after {
  position: absolute;
  z-index: 0;
  bottom: 98%;
  left: 0;
  content: "";
  width: 42px;
  height: 14px;
  background: var(--folder-back-color);
  border-radius: 6px 6px 0 0;
}

.paper {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 70%;
  height: 80%;
  background: var(--paper-1);
  border-radius: 8px;
  transition: transform 0.4s ease-in-out, opacity 0.3s ease 0.4s;
}

.paper2 {
  background: var(--paper-2);
  width: 80%;
  height: 70%;
}

.paper3 {
  background: var(--paper-3);
  width: 90%;
  height: 60%;
}

.front {
  position: absolute;
  z-index: 3;
  inset: 0;
  background: var(--folder-color);
  border-radius: 5px 12px 12px 12px;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.folder:hover .front,
.open .front {
  transform: skew(15deg) scaleY(0.6);
}

.folder:hover .right,
.open .right {
  transform: skew(-15deg) scaleY(0.6);
}

.open .paper1 { transform: translate(-120%, -70%) rotateZ(-15deg); }
.open .paper2 { transform: translate(10%, -70%)   rotateZ(15deg); }
.open .paper3 { transform: translate(-50%, -100%) rotateZ(5deg); }
